In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 5.9 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 6.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python\python310\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.5-py2.py3-none-any.whl (500 kB)
     -------------------------------------- 500.7/500.7 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1 pytz-2022.5

In [4]:
import pandas as pd
import os

In [5]:
df = pd.read_csv('C:/Users/Administrador/Downloads/FIFA2014.csv')

In [27]:
country_code = []
for i in df['Team'].values:
    country_code.append(i[:3].upper())

In [28]:
country_code

['GER',
 'ARG',
 'NET',
 'BRA',
 'COL',
 'BEL',
 'FRA',
 'COS',
 'CHI',
 'MEX',
 'SWI',
 'URU',
 'GRE',
 'ALG',
 'UNI',
 'NIG',
 'ECU',
 'POR',
 'CRO',
 'BOS',
 'IVO',
 'ITA',
 'SPA',
 'RUS',
 'GHA',
 'ENG',
 'SOU',
 'IRA',
 'JAP',
 'AUS',
 'HON',
 'CAM']

In [33]:
df['Country_code'] = country_code

In [34]:
df1 = df[['Country_code', 'Win', 'Draw', 'Loss' ]]

In [35]:
df1

   Country_code  Win  Draw  Loss
0           GER    6     1     0
1           ARG    5     1     1
2           NET    5     2     0
3           BRA    3     2     2
4           COL    4     0     1
5           BEL    4     0     1
6           FRA    3     1     1
7           COS    2     3     0
8           CHI    2     1     1
9           MEX    2     1     1
10          SWI    2     0     2
11          URU    2     0     2
12          GRE    1     2     1
13          ALG    1     1     2
14          UNI    1     1     2
15          NIG    1     1     2
16          ECU    1     1     1
17          POR    1     1     1
18          CRO    1     0     2
19          BOS    1     0     2
20          IVO    1     0     2
21          ITA    1     0     2
22          SPA    1     0     2
23          RUS    0     2     1
24          GHA    0     1     2
25          ENG    0     1     2
26          SOU    0     1     2
27          IRA    0     1     2
28          JAP    0     1     2
29          AUS    0     0     3
30          HON    0     0     3
31          CAM    0     0     3

In [36]:
df2 = df[['Team', 'Country_code', 'Position', 'Points']]

In [37]:
df2

                      Team Country_code  Position  Points
0                  Germany          GER         1      19
1                Argentina          ARG         2      16
2              Netherlands          NET         3      17
3                   Brazil          BRA         4      11
4                 Colombia          COL         5      12
5                  Belgium          BEL         6      12
6                   France          FRA         7      10
7               Costa Rica          COS         8       9
8                    Chile          CHI         9       7
9                   Mexico          MEX        10       7
10             Switzerland          SWI        11       6
11                 Uruguay          URU        12       6
12                  Greece          GRE        13       5
13                 Algeria          ALG        14       4
14           United States          UNI        15       4
15                 Nigeria          NIG        16       4
16                 Ecuador          ECU        17       4
17                Portugal          POR        18       4
18                 Croatia          CRO        19       3
19  Bosnia and Herzegovina          BOS        20       3
20             Ivory Coast          IVO        21       3
21                   Italy          ITA        22       3
22                   Spain          SPA        23       3
23                  Russia          RUS        24       2
24                   Ghana          GHA        25       1
25                 England          ENG        26       1
26             South Korea          SOU        27       1
27                    Iran          IRA        28       1
28                   Japan          JAP        29       1
29               Australia          AUS        30       0
30                Honduras          HON        31       0
31                Cameroon          CAM        32       0

In [39]:
df3 = df[['Team', 'Goals For', 'Goals Against', 'Goal Difference']]

In [40]:
df3

                      Team  Goals For  Goals Against Goal Difference
0                  Germany         18              4              14
1                Argentina          8              4               4
2              Netherlands         15              4              11
3                   Brazil         11             14              −3
4                 Colombia         12              4               8
5                  Belgium          6              3               3
6                   France         10              3               7
7               Costa Rica          5              2               3
8                    Chile          6              4               2
9                   Mexico          5              3               2
10             Switzerland          7              7               0
11                 Uruguay          4              6              −2
12                  Greece          3              5              −2
13                 Algeria          7              7               0
14           United States          5              6              −1
15                 Nigeria          3              5              −2
16                 Ecuador          3              3               0
17                Portugal          4              7              −3
18                 Croatia          6              6               0
19  Bosnia and Herzegovina          4              4               0
20             Ivory Coast          4              5              −1
21                   Italy          2              3              −1
22                   Spain          4              7              −3
23                  Russia          2              3              −1
24                   Ghana          4              6              −2
25                 England          2              4              −2
26             South Korea          3              6              −3
27                    Iran          1              4              −3
28                   Japan          2              6              −4
29               Australia          3              9              −6
30                Honduras          1              8              −7
31                Cameroon          1              9              −8

In [53]:
df1.to_excel('team_st1.xlsx')
df2.to_excel('team_st2.xlsx')
df3.to_excel('team_st3.xlsx')